<div class="tabla-registros" ng-if="objsize(registros) > 0 && agnoActivo == tablaAgno">
	<small class="pull-right precioSum text-muted semiTransparente">{{sumatorias[agnoActivo + z(mes) + z(dia)] | currency}}</small>
	<h4>{{moment(agnoActivo + '-' + mes + '-' + dia).format('D [de] MMMM, YYYY')}}</h4>
	<table class="table table-condensed table-striped table-items">
		<tr ng-repeat="r in registros track by r.id" class="registro">
			<td width="1">
				<label class="btn btn-xs" ng-class="{'active btn-success':r.adquirido == 1, 'btn-warning':r.adquirido == 0}">
					<input type="checkbox" class="hidden" ng-checked="r.adquirido == 1" ng-model="adquirido" ng-click="adquisicion(r)">
					<span class="glyphicon" ng-class="{'glyphicon-ok':r.adquirido == 1, 'glyphicon-minus':r.adquirido == 0}"></span>
				</label>
			</td>
			<td class="trTitulo">{{r.titulo}} #{{r.volumen}} <div class="f8em text-muted" ng-if="r.variante.length > 0">Var. {{r.variante}}</div></td>
			<td width="1" class="text-right" nowrap>
				<div class="btn-group btn-group-xs">
					<button type="button" class="btn btn-hidden btn-xs dropdown-toggle" ng-click="informacion(r)">
						{{r.precio | currency}}
						<span class="caret marginLeft5"></span>
					</button>
				</div>
			</td>
		</tr>
	</table>
</div>
