<!DOCTYPE html>
<html lang="en" ng-app="comicsApp" ng-cloak>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=.9, user-scalable=no">
		
		<!-- Enable all requests, inline styles, and eval() -->
		<meta http-equiv="Content-Security-Policy" content="default-src *; style-src http://*/ 'self' 'unsafe-inline'; script-src http://*/ 'self' 'unsafe-inline' 'unsafe-eval'">

		<title>ContaComics</title>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/angular-csp.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/typeahead.css">
		<script src="cordova.js"></script>
	</head>
  <body ng-controller="ComicsAppCtrl">
		<div class="container-fluid">
			<nav class="navbar-fixed-top navbar-inverse">
				<span class="navbar-brand negritas"></span>
				<span class="marginLeft20 text-danger pull-left negritas" ng-if="centurionTotal > 0">CENTURION: {{centurionRegistro}}/{{centurionTotal}}</span>
				<div>
					<div class="btn-group pull-right">
						<button type="button" class="btn navbar-btn" ng-class="{'btn-default': filtroActivo == -1, 'btn-warning': filtroActivo == 0, 'btn-success': filtroActivo == 1}" ng-disabled="pestanaActiva == 'listado'" ng-click="pestanaActivar('listado')"><span class="glyphicon glyphicon-tasks"></span></button>
						<button type="button" class="btn btn-default navbar-btn" ng-disabled="pestanaActiva == 'formulario'" ng-click="pestanaActivar('formulario')"><span class="glyphicon glyphicon-plus"></span></button>
						<button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></button>
						<ul class="dropdown-menu" role="menu">
							<li ng-if="pestanaActiva == 'listado'"><a href ng-click="filtroRegistros(-1)"><span class="glyphicon marginRight10" ng-class="{ 'glyphicon-check' : filtroActivo == -1, 'glyphicon-unchecked' : filtroActivo != -1 }"></span> Ver todos</a></li>
							<li ng-if="pestanaActiva == 'listado'"><a href ng-click="filtroRegistros(0)"><span class="glyphicon marginRight10" ng-class="{ 'glyphicon-check' : filtroActivo == 0, 'glyphicon-unchecked' : filtroActivo != 0 }"></span> Ver no adquiridos</a></li>
							<li ng-if="pestanaActiva == 'listado'"><a href ng-click="filtroRegistros(1)"><span class="glyphicon marginRight10" ng-class="{ 'glyphicon-check' : filtroActivo == 1, 'glyphicon-unchecked' : filtroActivo != 1 }"></span> Ver adquiridos</a></li>
							<li ng-if="pestanaActiva == 'listado'" class="divider"></li>
							<li><a href ng-click="bddVaciar()" ng-if="dbug"><span class="glyphicon glyphicon-repeat marginRight10"></span> Vaciar BDD</a></li>
							<li><a href ng-click="bddDesdeCenturion()" ng-if="dbug"><span class="glyphicon glyphicon-star marginRight10"></span> Llenar BDD</a></li>
							<li><a href ng-click="pestanaActivar('series')"><span class="glyphicon glyphicon-book marginRight10"></span> Series</a></li>
							<li ng-if="pestanaActiva == 'listado'" class="divider"></li>
							<li><a href ng-click="pestanaActivar('about')"><span class="glyphicon glyphicon-info-sign marginRight10"></span> Acerca de...</a></li>
							<li><a href ng-click="exitApp()"><span class="glyphicon glyphicon-off marginRight10"></span> Salir</a></li>
						</ul>
					</div>
					<div class="pull-right marginRight10" ng-if="pestanaActiva == 'formulario'">
						<button type="button" class="btn btn-info navbar-btn" ng-click="registrar()" id="btn-registrar"><span class="glyphicon glyphicon-save"></span> Registrar</button>
					</div>
				</div>
			</nav>		
			<div role="tabpanel" ng-show="iniciado">
				<div class="tab-content">
					<div role="tabpanel" id="listado" ng-show="pestanaActiva == 'listado'">
						<span ng-if="objsize(fechas) == 0 && !alertCargando">
							<div class="alert alert-danger marginTop20"><span class="glyphicon glyphicon-warning-sign"></span> Actualmente no hay artículos registrados.</div>
							<button class="btn btn-success col-xs-12" ng-click="pestanaActivar('formulario')"><span class="glyphicon glyphicon-exclamation-sign"></span> Haz click aquí para comenzar</button>
						</span>
						
						<div id="listado-contenedor" ng-if="!alertCargando">
						
							<ul class="nav nav-pills marginTop10 marginBottom20" role="tablist">
								<li ng-repeat="(meses, agno) in keysReversed(fechas)" ng-class="{active:agno == agnoActivo}">
									<a href="#tab-{{agno}}" aria-controls="tab-{{agno}}" role="tab" data-toggle="tab" ng-click="pestanaAgnoActivo(agno)">{{agno}}</a>
								</li>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" id="tab-{{agnoActivo}}" ng-repeat="mes in keysReversed(fechas[agnoActivo])">
									<tabla-dia ng-repeat="(key, dia) in fechas[agnoActivo][mes] track by key" tabla-dia="{{dia}}" tabla-mes="{{mes}}"></tabla-dia>
								</div>
							</div>
						</div>
					</div>
					
					<div role="tabpanel" id="series" ng-if="pestanaActiva == 'series'">
						<div class="seriesHeader">
							<h4 class="negritas">Series</h4>
							<div class="row ">
								<div class="form-group col-xs-12">
									<input type="text" class="form-control" placeholder="Busca una serie por título" name="titulo" id="series_titulo" ng-model="series.titulo">
								</div>
							</div>
						</div>

						<div class="row seriesListado">
							<div class="form-group col-xs-12">
								<ul class="list-group">
									<li class="list-group-item padding0 noBG" ng-repeat="serie in typeOptions | filter : series.titulo | orderBy:''" ng-class="{lsActivo : series[serie].registros}">
										<div>
											<div class="serieTitulo" ng-click="seriesGenerar(serie)">{{serie}}</div>
											<div class="serieDetalleContenedor f13" ng-if="series[serie].registros">
												<div class="seriesCargando f13" ng-if="!series[serie].show"><span class="glyphicon glyphicon-transfer marginRight10"></span> Cargando...</div>
												<div ng-if="series[serie].show">
													<div class="serieDetalle" ng-repeat="r in series[serie].registros" on-long-press="detallesShow(r)" on-double-click="detallesShow(r)">
														#{{r.volumen}} <small class="text-muted" ng-if="r.variante.length > 0">{{r.variante}}</small>
														<span class="pull-right">
															<span class="text-muted marginRight10">{{moment(r.fecha).format('ddd D [de] MMM [del] YYYY')}}</span>
															<span class="text-warning marginRight10">{{r.precio | currency}}</span>
														</span>
														<label class="btn btn-xs serieDetalleBtn" ng-class="{'active btn-success':r.adquirido == 1, 'btn-warning':r.adquirido == 0}">
															<input type="checkbox" class="hidden" ng-checked="r.adquirido == 1" ng-model="adquirido" ng-click="adquisicion(r, true)">
															<span class="glyphicon" ng-class="{'glyphicon-ok':r.adquirido == 1, 'glyphicon-minus':r.adquirido == 0}"></span>
														</label>
													</div>
													<div class="serieDetalleSumatorias f13">
														{{series[serie].volumenes}} volúmenes
														<span class="pull-right">{{series[serie].importe | currency}}</span>
													</div>
												</div>
											</div>
										</div>
									</li>
								</div>
							</div>
						</div>
					</div>
					
					<form role="tabpanel" id="formularios" ng-show="pestanaActiva == 'formulario'"> <!-- NOTA: ng-show en vez de ng-if para inserciones desde MisComics -->
						<h4><b>Nuevo registro</b></h4>
						<div class="row">
							<div class="form-group col-xs-7">
							<label for="nuevo_titulo">Título</label>
							<input type="text" class="form-control typeAhead" placeholder="Título de la serie" name="titulo" id="nuevo_titulo" required ng-model="nuevo.titulo">
						</div>
							<div class="form-group col-xs-5">
								<label for="nuevo_variante">Variante</label>
								<input type="text" class="form-control" placeholder="Artista" name="variante" id="nuevo_variante" ng-model="nuevo.variante">
							</div>
						</div>
						
						<div class="row">
							<div class="form-group col-xs-6">
								<label for="nuevo_titulo">Volumen</label>
								<input type="number" class="form-control" placeholder="Número de edición" name="volumen" id="nuevo_volumen" ng-model="nuevo.volumen">
							</div>
							<div class="form-group col-xs-6">
								<label for="nuevo_titulo">Precio</label>
								<input type="number" class="form-control" placeholder="Precio en pesos" name="titulo" id="nuevo_precio" ng-model="nuevo.precio">
							</div>
						</div>
						
						<div class="row">
							<div class="form-group col-xs-6">
								<label for="nuevo_titulo">Fecha de lanzamiento</label>
								<input type="date" class="form-control" placeholder="Fecha en la que llegó al voceador" name="fecha" id="nuevo_fecha" ng-model="nuevo.fecha">
							</div>
							<div class="form-group col-xs-6">
								<label for="nuevo_adquirido">Marcar como adquirido</label>
								<button class="btn w100" type="button" ng-class="{'active btn-success':nuevo.adquirido == 1, 'btn-warning':nuevo.adquirido == 0}" ng-click="nuevo.adquirido = (nuevo.adquirido == 0) ? 1 : 0"><span class="glyphicon" ng-class="{'glyphicon-ok':nuevo.adquirido == 1, 'glyphicon-minus':nuevo.adquirido == 0}"></span></button>
								<input type="checkbox" name="adquirido" ng-model="nuevo.adquirido" ng-true-value="1" ng-false-value="0" id="nuevo_adquirido" class="hidden">
							</div>
						</div>
						<!--
						<hr>
						<button id="miscomics_button" class="col-xs-12 btn btn-danger" ng-click="pestanaActiva = 'misComicsList'">
							Ver calendario <b>MisComicsMX</b>
						</button>-->
					</form>
					
					<div role="tabpanel" id="opciones" ng-if="pestanaActiva == 'opciones'">							
						<h4><b>JSON de información</b></h4>
						<div class="form-group"><textarea class="form-control f8em" rows="24" id="dumpText">{{registrosTodos}}</textarea></div>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input ng-checked="dbug" type="checkbox" ng-click="dbugChange()"> Modo de debugueo
								</label>
							</div>
						</div>
					</div>
					
					<div role="tabpanel" id="about" ng-if="pestanaActiva == 'about'">							
						<h1>ContaComics v1.0</h1>
						<p>
							Para soporte, comentarios y solicitud de funciones envía un email, o contáctanos através del portal.<br>
						</p>
						<p class="text-center">
							<a class="btn btn-info col-xs-12 marginBottom20" href ng-click="sendMail()"><span class="glyphicon glyphicon-envelope marginRight10"></span> {{richEmail}}</a>
							<a class="btn btn-success col-xs-12" href target="_newcc" ng-click="openSite()"><span class="glyphicon glyphicon-globe marginRight10"></span> {{urlPortal}}</a>
							<img class="marginTop20" src="css/icono.png" ng-click="masOpcionesTry()" />
						</p>
					</div>
				</div>
			</div>
		</div>
		
		<div id="bg" ng-if="!iniciado" ng-init="initApp()">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="alert alert-warning marginTop20" ng-if="alertCargando" ><span class="glyphicon glyphicon-exclamation-sign marginRight10"></span>Cargando librerías...</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="./js/jquery.min.js"></script>
		<script src="./bootstrap/js/bootstrap.min.js"></script>
		<script src="./js/comunes.js"></script>
		<script src="./js/websql.js"></script>
		<script src="./js/moment.min.js"></script>
		<script src="./js/typeahead.bundle.js"></script>		
		<script src="./js/angular.js"></script>
		<script src="./js/ngStorage.js"></script>
		<script src="./js/angularTools.js"></script>
		<script src="./js/system.js"></script>
		
	</body>
</html>