/* following two viewport lines are equivalent to the meta viewport statement above, needed for Windows */
/* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html and http://dev.w3.org/csswg/css-device-adapt/ */
@-ms-viewport { width: 100vw ; zoom: 100% ; }  @viewport { width: 100vw ; zoom: 100% ; }
@-ms-viewport { user-zoom: fixed ; }           @viewport { user-zoom: fixed ; }

html, body {
	max-width: 100%;
	overflow-x: hidden;
	height: 100%;
}
body{
	padding-top: 54px;
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	background-color: black;
	color: #A9A9A9;
	-webkit-overflow-scrolling: touch;
}
.noMargin{ margin: 0 0; padding: 0 10px; }
.navbar-brand{ padding-left: 0px; }
.marginTop10{ margin-top: 10px; }
.marginTop20{ margin-top: 20px; }
.marginTop0{ margin-top: 0px; }
.marginBottom10{ margin-bottom: 10px; }
.marginBottom20{ margin-bottom: 20px; }
.marginRight5{ margin-right: 5px; }
.marginRight10{ margin-right: 10px; }
.marginRight20{ margin-right: 20px; }
.marginLeft5{ margin-left: 5px !important; }
.marginLeft20{ margin-left: 20px; }
.semiTransparente{ opacity: .6; }
.padding0{ padding: 0; }
.paddingRight0{ padding-right: 0; }
.paddingLeft4{ padding-left: 4px; }
.paddingLeft4{ padding-left: 4px; }
.negritas{ font-weight: bold; }
.collapse, .collapse.in, .clicking { transition: all .8s;}
.dropdown-toggle{ padding: 6px 12px !important; } 
.precioSum{ margin-right: 4px; }
.w100{ width: 100%; }
.f8em{ font-size: .8em; }
.f13{ font-size: 13px; }
.noBG{ background-color: transparent; }
.table-striped>tbody>tr:nth-child(odd)>td{
  background-color: #272727;
}
.table-striped>tbody>tr:nth-child(odd), .table-striped>tbody>tr:nth-child(odd) {
  background-color: #272727;
}
.table-striped>tbody>tr>td.trTitulo {
  padding-top: 6px !important;
}
.table-items tr.clicking .trTitulo{
	transition: all 1s;
	text-shadow: 0px 0px 10px white;
	color: transparent;
}
.container {
	padding-right: 6px;
	padding-left: 6px;
}
.container-fluid {
	padding-right: 5px;
	padding-left: 5px;
}
.navbar-fixed-top{	
	width: 100%;
	padding: 0 14px;
}

.navbar-inverse .navbar-brand {
	background: url(logo_small.png) no-repeat left center;	
	width: 50px;
	height: 50px;
	margin-left: -8px;
	margin-top: 4px;
}
/*.registro, .registro * { transition: all .3s; }*/
/*.adquiridoEscondido
{
	opacity: .1;
}*/
.tabla-registros h4{
	font-size: 18.25px !important; /* 14-May-2016 A veces, al mostrar el DropDown se resetea el viewport para el h4 */
}
.table-condensed>tbody>tr>td { border: none; }
#formularios .tt-dropdown-menu { width: 184%; }

.detalle-imagen td{
  height: 260px;
	vertical-align: middle;
}
.detalle-imagen img{
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 4px black;
}
.serieDetalle, .serieDetalleSumatorias { margin: 3px 0px; }
.serieTitulo{ padding: 8px 15px; }
.serieDetalle {
	padding: 4px 26px 4px 10px;
	background-color: rgb(0, 0, 0);
	border-radius: 4px;
	position: relative;
}
.serieDetalleSumatorias{
	padding: 8px 0 0 0;
	color: black;
}
.serieDetalleBtn {
	position: absolute;
	right: 2px;
	top: 3px;
}
.seriesCargando.f13 {
  margin-left: 15px;
	text-shadow: 1px 0px 4px white;
}
.modal-header .close {
  padding: 4px 10px;
}

.table .dropdown-toggle {
  padding: 0 !important;
}
.btn-hidden, .btn-hidden:hover{
	border: 0;
  background: none !important;
	color: inherit;
}

/* Listado de series */
.lsActivo {
	background: rgba(66, 139, 202, 0.62);
	color: white;
}
.lsActivo .serieTitulo {
  font-weight: bold;
}
.serieDetalleContenedor {
  padding: 0 15px 10px 15px;
}